body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}

#box1:hover {
    background-color: rgb(207, 119, 207);
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;

    animation-duration: 5s;
    animation-name: box2move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes box2move{
    from {
        margin-left: 70%;   
    }
    20% {
        margin-bottom: 0%;
    }
    40% {
        margin-right: 100%;
    }
    50% {
        margin-top: 30%;
    }
    80% {
        margin-top: 0%;
    }
    to {
        margin-left: 0%;
    }
}